@model WebStorage.Models.Contact
@{
    ViewBag.Title = "ReadSession";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Read Session</h2>
        <p>The name: @Model.Name and the Email: @Model.Email are in the contact object which indexed with the 'ContactInformation' key in Session.</p>
    </div>
</div>
