@model WebStorage.Models.Contact
@{
    ViewBag.Title = "Read Cookie";
}

<div class="row">
    <div class="col-xs-12">
        <h2>ReadCookie</h2>
        <p>The name: @Model.Name and the Email: @Model.Email are in the 'WebstorageDemoCookie' cookie.</p>
    </div>
</div>

