<div class="col-sm-2">
    <div class="sidenav">
        <ul>
            <li>@Html.ActionLink("My Listings", "Index", "MyAccount")</li>
            <li>@Html.ActionLink("My Favorites", "Favorites", "MyAccount")</li>
            <li>@Html.ActionLink("My Contacts", "Contacts", "MyAccount")</li>
            <li>@Html.ActionLink("Update Account", "UpdateAccount", "MyAccount")</li>
        </ul>
    </div>
</div>