@model MVC_SIS_UI.Models.AddEditStateVM

@{
    ViewBag.Title = "EditState";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit State</h3>
        @Html.ActionLink("Return to List", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.currentState.StateAbbreviation)
            @Html.ValidationSummary()
            <div class="form-group">
                <label>State</label>
                @Html.TextBoxFor(m => m.currentState.StateName, new { @class = "form-control", placeholder = "State Name" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>
