USE MASTER
GO

CREATE DATABASE SWCCorp
GO

USE SWCCorp
GO

CREATE TABLE MgmtTraining (
	ClassID int PRIMARY KEY IDENTITY(1,1),
	ClassName varchar(50) NOT NULL,
	ClassDurationHours int NULL
)
GO

CREATE TABLE Location (
	LocationID INT not null PRIMARY KEY,
	Street VARCHAR(30) null,
	City VARCHAR(20) null,
	[State] CHAR(2) null
)
GO

CREATE TABLE Employee(
	EmpID INT PRIMARY KEY not null,
	LastName VARCHAR(30) null,
	FirstName VARCHAR(20) null,
	HireDate DATETIME null,
	LocationID INT null FOREIGN KEY REFERENCES Location(LocationID),
	ManagerID INT null FOREIGN KEY REFERENCES Employee(EmpID),
	[Status] CHAR(12) null
)
GO

CREATE TABLE PayRates (
	EmpID INT PRIMARY KEY FOREIGN KEY REFERENCES Employee(EmpID),
	YearlySalary DECIMAL(9,2) NULL,
	MonthlySalary DECIMAL(9,2) NULL,
	HourlyRate DECIMAL(9,2) NULL
)
GO

CREATE TABLE [Grant] (
	GrantID CHAR(3) NOT NULL PRIMARY KEY,
	GrantName NVARCHAR(50) NOT NULL,
	EmpID INT NULL FOREIGN KEY REFERENCES Employee(EmpID),
	Amount DECIMAL(9,2) NOT NULL
)
GO

INSERT INTO MgmtTraining VALUES('Embracing Diversity',12)
INSERT INTO MgmtTraining VALUES('Interviewing',6)
INSERT INTO MgmtTraining VALUES('Difficult Negotiations',30)

INSERT INTO Location VALUES(1,'111 First ST','Seattle', 'WA')
INSERT INTO Location VALUES(2,'222 Second AVE', 'Boston','MA')
INSERT INTO Location VALUES(3,'333 Third PL','Chicago','IL')


INSERT INTO PayRates VALUES (1,75000,null,null)
INSERT INTO PayRates VALUES (2,78000,null,null)
INSERT INTO PayRates VALUES (3,null,null,45)

GO


--Update all Seattle Employees to Report to Sally Smith (except herself)
UPDATE Employee SET ManagerID = 11
WHERE LocationID =  1 AND EmpID != 11

--Update all Boston Employee to report to Lee Osako (except himself)
UPDATE Employee SET ManagerID = 3
WHERE LocationID = 2 AND EmpID != 3

--Update all Spokane Employees to report directly to David Kennson
UPDATE Employee SET ManagerID = 4
WHERE locationID = 4

--Set all sales people with no office location to work for David Kennson
UPDATE Employee SET ManagerID = 4
WHERE LocationID IS NULL

--Set Lee Osako to work for Sally Smith
UPDATE Employee SET ManagerID = 11
WHERE EmpID = 3

UPDATE Employee SET Status = 'On Leave' WHERE EmpID = 7
UPDATE Employee SET Status = 'Has Tenure' WHERE EmpID in (12,4)


INSERT INTO [Grant] VALUES ('001','92 Purr_Scents %% team',7,4750)
INSERT INTO [Grant] VALUES ('002','K_Land fund trust',2,15750)
INSERT INTO [Grant] VALUES ('003','Robert@BigStarBank.com',7,18100)
GO

