<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="mode" value="FreeTest" />-->
    <!--<add key="mode" value="BasicTest" />-->
    <!--<add key="mode" value="PremiumTest" />-->
    <add key="mode" value="LiveData" />
  </appSettings>
</configuration>