@model IEnumerable<ShackUp.Models.Tables.State>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-sm-12">
        <h2>Listings</h2>
        <p>
            Here you can search for a listing that meets your needs.
        </p>
    </div>
</div>
<div class="container">
    <div class="col-sm-12">
        <form id="searchForm" class="row g-3 align-items-center">
            <div class="col-sm-3">
                <label for="minRate">Min Price</label>
                <input type="text" class="form-control" id="minRate">
            </div>
            <div class="col-sm-3">
                <label for="maxRate">Max Price</label>
                <input type="text" class="form-control" id="maxRate">
            </div>
            <div class="col-sm-3">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city">
            </div>
            <div class="col-sm-2">
                <label for="state">State</label>
                @Html.DropDownList("state", new SelectList(Model, "StateId", "StateName"), "Any", new { @class = "form-control" })
            </div>
            <div class="col-sm-1">
                <button type="submit" onclick="search()" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div id="searchResults" class="row col-sm-12">

    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (e) {
                search();
                return false;
            });
        });

        function search() {
            var params;
            var imagePath = '@Url.Content("~/Images/")';
            var detailPath = '@Url.Action("Details", "Listings")/';

            params = 'minRate=' + $('#minRate').val() + '&maxRate=' + $('#maxRate').val() + '&city=' + $('#city').val() + '&stateId=' + $('#state').val();

            $.ajax({
                type: 'GET',
                url: 'https://localhost:44372/api/listings/search?' + params,
                success: function (results) {
                    $('#searchResults').empty();

                    $.each(results, function (index, listing) {
                        var html = '<div class="col-sm-6 col-md-4">' +
                            '<p class="recentListing"><img src="' + imagePath + listing.ImageFileName + '" class="shackPicture"/></p>' +
                            '<p class="recentListing"><strong>' + listing.City + ', ' + listing.StateId + '</strong></p>' +
                            '<p class="recentListing">' + listing.Rate + ' / night</p>' +
                            '<p class="recentListing"><a href="' + detailPath + listing.ListingId + '">View Details</a></p></div>'
                        $('#searchResults').append(html.toString());
                    });
                },
                error: function () {
                    alert('Error performing search, try again later.')
                }
            });
        }
    </script>
}