<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=GuildCars;User Id=sa;Password=sqlserver;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="RepositoryType" value="Prod" />-->
    <add key="RepositoryType" value="QA" />
  </appSettings>
</configuration>